html{
	font-size: 62.5%;
}

body{
	background: $light;
	font-family: $mainfont;
	font-size: 16px; 
	font-size: 1,6rem;
	color: $main;
	line-height: 1.3;
	border-top: 10px solid $secondary;
}

header, footer{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

header{
	padding: 20px 0 30px;
}

footer{
	padding: 30px 0 20px;
}


h1{
	font-size: 30px; 
	font-size: 3rem;
	font-weight: bold;
}

a{
	color: inherit;
}

p a{
	color: $secondary;
	border-bottom: 1px $secondary solid;
	text-decoration: none;
	&:hover{
		color: $highlight;
		border-bottom-color: $highlight;
	}
}

p strong{
	font-weight: bold;
}

.colorref{
	text-transform: uppercase;
}

::selection {
	background: rgba($highlight, 0.6);
	color: white;
}

.colourslist ol{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: darken($light, 10%)
}

.colourslist ol li{
	width: 90%;
	padding: 20px 5% 20px;
	color: $light;
	&.dark{
		color: $secondary;
		span{
			background: rgba( $secondary, .1 );
		}
	}
	h3{
		font-size: 18px;
		font-size: 1,8rem;
		margin-bottom: 4px;
		font-weight: bold;
	}
	span{
		background: rgba( $light, .2 );
		padding: 2px;
	}
}

.behance{background-color: 		$behance-bic;}
.dailymotion{background-color: 	$dailymotion-bic;}
.dribbble{background-color: 	$dribbble-bic}
.facebook{background-color: 	$facebook-bic}
.flickr{background-color: 		$flickr-bic}
.flickr-2{background-color: 	$flickr-2-bic}
.foursquare{background-color: 	$foursquare-bic}
.googleplus{background-color: 	$googleplus-bic}
.instagram{background-color: 	$instagram-bic}
.linkedin{background-color: 	$linkedin-bic}
.pinterest{background-color: 	$pinterest-bic}
.quora{background-color: 		$quora-bic}
.snapchat{background-color: 	$snapchat-bic}
.spotify{background-color: 		$spotify-bic}
.swarm{background-color: 		$swarm-bic}
.tumblr{background-color: 		$tumblr-bic}
.twitter{background-color: 		$twitter-bic}
.vimeo{background-color: 		$vimeo-bic}
.vine{background-color: 		$vine-bic}
.whatsapp{background-color: 	$whatsapp-bic}
.youtube{background-color: 		$youtube-bic}

.colourslist ol li.more{
	flex-grow: 1;
}


@media all and (min-width: 600px){ 

.colourslist ol{
	flex-direction: row;
}

.colourslist ol li{
	width: 40%;
	padding: 20px 5% 20px;
	}
}

@media all and (min-width: 900px){
	
/*body{
	font-size: 18px;
	font-size: 1,8rem;
}*/

h1{
	font-size: 40px; 
	font-size: 4rem;
}

.colourslist ol li{
	width: 20%;
	padding: 20px 2.5% 20px;
	}
}

@media all and (min-width: 1200px){ 

.colourslist ol li{
	width: 18%;
	padding: 20px 1% 20px;
	}
	
}
