/* 	Brands-In-Colours, @loriskumo
	https://github.com/loriskumo/Brands-In-Colours */
	
// A
$adobe-bic:		#FF0000; // rgb(255,0,0)
$airbnb-bic:	#FF5A5F; // rgb(255,90,95)

// B
$behance-bic:		#1769FF; // rgb(23,105,255)

// D
$dailymotion-bic:	#0066DC; // rgb(0,100,220)
$dribbble-bic:		#ea4c89; // rgb(234,76,137)

// E
$evernote-bic:		#6fb536; // rgb(111,181,54)

// F
$facebook-bic:		#3B5998; // rgb(59,89,152)
$flickr-bic:		#0063dd; // rgb(0,99,221)
$flickr-2-bic:		#ff0085; // rgb(255,0,133)
$foursquare-bic:	#0072b1; // rgb(0,114,177)

// G
$googleplus-bic:	#dd4b39; // rgb(221,75,57)

// I
$imdb-bic:			#E6B91E; // rgb(230,185,30)
$instagram-bic:		#3F729B; // rgb(63,114,155)

// L
$linkedin-bic: 		#0976B4; // rgb(9,118,180)

// N
$netflix-bic: 		#e50914; // rgb(229,9,20)

// P
$paypal-pay-bic: 	#00457C; // rgb(0,69,124)
$paypal-pal-bic: 	#0079C1; // rgb(0,121,193)
$pinterest-bic: 	#cd1d1f; // rgb(205,29,31)

// Q
$quora-bic:			#BC2016; // rgb(188,32,22)

// S
$skype-bic:			#00AFF0; // rgb(0,175,240)
$snapchat-bic:		#FFFA37; // rgb(255,250,55)
$spotify-bic:		#32CE64; // rgb(50,206,100)
$swarm-bic:			#ffa633; // rgb(255,166,51)

// T
$tumblr-bic:		#35465d; // rgb(53,70,93)	
$twitter-bic:		#55ACEE; // rgb(85,172,238)

// V
$vimeo-bic:			#1ab7ea; // rgb(26,183,234)
$vine-bic:			#00B489; // rgb(0,180,137)

// W
$whatsapp-bic:		#64d448; // rgb(100,212,72)

// Y
$yahoo-bic:			#780099; // rgb(123,0,153)
$youtube-bic:		#CC181E; // rgb(204,24,30)
